.container{
	display: flex;
	justify-content: center;
}
.col{
	border-radius: 25px;
  	background: #959191;
  	padding: 20px; 
  	width: 200px;
  	height: 80px; 
  	margin-top: 170px;
  	flex:1;
  	display: flex;
  	
}

.text{
	font-size: 30px;
  	font-weight: bold;
  	transition: transform 4s;
  	margin:auto;
 }

.text:hover{ 
	transform: scale(1.3);
}

body{
	background-image: url(dark.png);
	cursor: pointer;
}


.btn {
	display:flex;
	margin:auto;
	justify-content:center;
	margin-top: 200px;
	transition: transform 4s;
}

.btn:hover{
	transform: scale(1.2);
}
